
 <aside class="main-aside">

  
    <form action="" class="search-bar"> 
        <button type="button" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>            
        <input type="text" placeholder="Search">
    </form>  
    
    <div class="position-sticky">
        <ul id="detail_list" class="nav flex-column gap-2 d-none">
            <div class="d-flex justify-content-between align-items-center">
                <a class="nav-item nav-link sidebar_headlings" href="/">
                      <i class="fa-solid fa-angle-left fs-2 fw-2 text_color"></i>
                </a>
                <span class="text_color fs-4 fw-4">County Meet</span>
            </div>
            <div class="">
                <a href="/league1_overview" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/county_meet_log.jpg" alt="" class="sidebar_imgs rounded-circle">
                            <div class="text_content">League Stage</div>
                        </div>
                    </fieldset>
                </a>
                <a href="/league1_qualification" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/county_meet_log.jpg" alt="" class="sidebar_imgs rounded-circle">
                            <div class="text_content">Qualification</div>
                        </div>
                    </fieldset>
                </a>
            </div>
        </ul>
        <ul class="nav flex-column gap-2" id="all_sidebar_l">
          <li class="nav-item">
            <a class="nav-item nav-link sidebar_headlings d-flex justify-content-between align-items-center" href="#">
              <span>Leagues</span>
              <i class="fa-solid fa-angle-right"></i>
            </a>
            <% if (leaguedata && leaguedata.length > 0) { %>
              <% leaguedata.forEach(league => { %> 
                <a href="/league1_overview/<%= league.league_id %>" class="text-decoration-none">
                  <fieldset class="aside_content">
                    <div class="contant">
                      <% if (league.league_logo) { %> <!-- Checking if the BLOB exists -->
                        <img src="data:image/png;base64,<%= league.league_logo.toString('base64') %>" alt="<%= league.league_name %> Logo" class="sidebar_imgs">
                      <% } else { %>
                        <img src="./images/teams_flag/generic-logo-128x128.jpg" alt="" class="sidebar_imgs">
                      <% } %>
                      <div class="text_content"><%= league.league_name %></div>
                    </div>
                  </fieldset>
                </a>
              <% }) %>
            <% } else { %>
              <p>No leagues available.</p>
            <% } %>
          </li>
            <li class="nav-item">
                <a class="nav-item nav-link sidebar_headlings d-flex justify-content-between align-items-center" href="#">
                  <span>Teams</span>
                  <i class="fa-solid fa-angle-right"></i>
                </a>
                
                <% if (teamdata && teamdata.length > 0) { %>
                  <% teamdata.forEach(teamData => { %>
                    <a href="/team/<%= teamData.team_id %>" class="text-decoration-none">
                      <fieldset class="aside_content">
                        <div class="contant">
                          <% if (teamData.team_logo) { %> <!-- Checking if the BLOB exists -->
                            <img src="data:image/png;base64,<%= teamData.team_logo.toString('base64') %>" alt="<%= teamData.team_name %> Logo" class="sidebar_imgs">
                          <% } else { %>
                            <img src="./images/teams_flag/generic-logo-128x128.jpg" alt="" class="sidebar_imgs">
                          <% } %>
                          <div class="text_content"><%= teamData.team_name %></div>
                        </div>
                      </fieldset>
                    </a>
                  <% }) %>
                <% } else { %>
                  <p>No teams available.</p>
                <% } %>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link sidebar_headlings d-flex justify-content-between align-items-center" href="#">
                <span>Counties</span>
                <i class="fa-solid fa-angle-right"></i>
              </a>
              <% if (countydata && countydata.length > 0) { %>
                <% countydata.forEach(county => { %> <!-- Changed from 'countydata' to 'county' for clarity -->
                  <a href="/team/<%= county.county_id %>" class="text-decoration-none">
                    <fieldset class="aside_content">
                      <div class="contant">
                        <% if (county.county_logo) { %> <!-- Checking if the BLOB exists -->
                          <img src="data:image/png;base64,<%= county.county_logo.toString('base64') %>" alt="<%= county.county_name %> Logo" class="sidebar_imgs">
                        <% } else { %>
                          <p>No logo available for this county.</p>
                        <% } %>
                        <div class="text_content"><%= county.county_name %></div>
                      </div>
                    </fieldset>
                  </a>
                <% }) %>
              <% } else { %>
                <p>No counties available.</p>
              <% } %>
            </li>
            
<!--            
            <li class="nav-item">
                  <a class="nav-item nav-link sidebar_headlings d-flex justify-content-between align-items-center" href="#">
                  <span>Competition</span>
                    <i class="fa-solid fa-angle-right"></i>
                </a>
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a> 
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
                <a href="" class="text-decoration-none">
                    <fieldset class="aside_content">
                        <div class="contant">
                            <img src="./images/Flag_of_Grand_Bassa_County.svg.png" alt="" class="sidebar_imgs">
                            <div class="text_content"> Grand Bassa</div>
                        </div>
                    </fieldset>
                </a>
            </li> -->
        </ul>
    </div>
</aside>