<%- include ("partials/header.ejs") %>
    <div class="">
      <div class="selection_link">
        <a href="#"><button type="button" class="selection_btn">FootBall</button></a>
        <a href="#"><button type="button" class="selection_btn">Basketball</button></a>
        <a href="#"><button type="button" class="selection_btn">KickBall</button></a>
      </div>
      <section class="dashcontainer">
        <%- include('partials/sidebar', { teamdata: teamdata, leaguedata: leaguedata, countydata: countydata }) %>
          <main class="main_display">

                <nav class="qualification_main_nav">
                    <div class="qualificationmain_nav_lc">
                      <div class="qualification_link">
                        <a href="" class="qualification">
                          <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                          <div class="qualification_heading">
                            <h5 class="text-light">Qualification: Group A</h5>
                            <p>Africa Cup of Nations Qualification</p>
                          </div>
                        </a>
                      </div>
                      <div class="qualification-action-btn">
                        <a href="/team"><button type="button" class="qualification-btn">Overview</button></a>
                        <a href="/team_matches"><button type="button" class="qualification-btn">Matches</button></a>
                        <a href="/team_table"><button type="button" class="qualification-btn">Table</button></a>
                        <a href="/player_stats_all"><button type="button" class="qualification-btn">Play-Stats</button></a>
                      </div>
                    </div>
                </nav>

               <div class="select_matches_btn">
                <a href="#"><button type="button" class="select_btn">FIXTURE</button></a>
                <a href="#"><button type="button" class="select_btn">RESULTS</button></a>
               </div>

              <section class="main_content-sec">
               <h5>All Leagues</h5>
               <select name="league" id="league" required>
                <% leaguedata.forEach(function(league){ %>
                  <option value="<%= league.league_id %>"><%= league.league_name %></option>
                <% }); %>
              </select><br><br>
              <fieldset class="main_content">
                <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
                <div class="d-flex lign-items-center gap-4 ms-2">
                  <div class="d-flex align-items-center">
                    <p>HT</p>
                  </div>
                  <div class="main_content_teams">
                    <div class="d-flex gap-2">
                      <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                      <p>NPA Anchors</p>
                    </div>
                    <div class="d-flex gap-2">
                      <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                      <p>Watanga FC</p>
                    </div>
                  </div>
                </div>
                <div class="contant me-2">
                  <i class="fa-regular fa-star fs-2"></i>
                </div>
              </a>
                  </fieldset>

                  <div class="qualification_link">
                    <a href="" class="qualification">
                      <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                      <div class="qualification_heading">
                        <h5 class="text-light">LFA First Division League: Group A</h5>
                        <p>Liberia</p>
                      </div>
                    </a>
                  </div>
                
                  <fieldset class="main_content">
                    <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
                    <div class="d-flex lign-items-center gap-4 ms-2">
                      <div class="d-flex align-items-center">
                        <p>HT</p>
                      </div>
                      <div class="main_content_teams">
                        <div class="d-flex gap-2">
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                          <p>NPA Anchors</p>
                        </div>
                        <div class="d-flex gap-2">
                          <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                          <p>Watanga FC</p>
                        </div>
                      </div>
                    </div>
                    <div class="contant me-2">
                      <i class="fa-regular fa-star fs-2"></i>
                    </div>
                  </a>
                </fieldset>
                
                <div class="qualification_link">
                  <a href="" class="qualification">
                    <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                    <div class="qualification_heading">
                      <h5 class="text-light">LFA Second Division League: Group B</h5>
                        <p>Liberia</p>
                    </div>
                  </a>
                </div>

                <fieldset class="main_content">
                  <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
                  <div class="d-flex lign-items-center gap-4 ms-2">
                    <div class="d-flex align-items-center">
                      <p>HT</p>
                    </div>
                    <div class="main_content_teams">
                      <div class="d-flex gap-2">
                        <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                        <p>NPA Anchors</p>
                      </div>
                      <div class="d-flex gap-2">
                        <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                        <p>Watanga FC</p>
                      </div>
                    </div>
                  </div>
                  <div class="contant me-2">
                    <i class="fa-regular fa-star fs-2"></i>
                  </div>
                </a>
              </fieldset>

              <div class="qualification_link">
                <a href="" class="qualification">
                  <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                  <div class="qualification_heading">
                    <h5 class="text-light">LFA Third Division League: Group C</h5>
                    <p>Liberia</p>
                  </div>
                </a>
              </div>
            
              <fieldset class="main_content">
                <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
                <div class="d-flex lign-items-center gap-4 ms-2">
                  <div class="d-flex align-items-center">
                    <p>HT</p>
                  </div>
                  <div class="main_content_teams">
                    <div class="d-flex gap-2">
                      <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                      <p>NPA Anchors</p>
                    </div>
                    <div class="d-flex gap-2">
                      <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                      <p>Watanga FC</p>
                    </div>
                  </div>
                </div>
                <div class="contant me-2">
                  <i class="fa-regular fa-star fs-2"></i>
                </div>
              </a>
              </fieldset>

              <div class="qualification_link">
                <a href="" class="qualification">
                  <img class=" qualification_img" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png" alt="">
                  <div class="qualification_heading">
                    <h5 class="text-light">County Meet</h5>
                    <p>Liberia</p>
                  </div>
                </a>
              </div>
            
              <fieldset class="main_content">
                <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
                <div class="d-flex lign-items-center gap-4 ms-2">
                  <div class="d-flex align-items-center">
                    <p>HT</p>
                  </div>
                  <div class="main_content_teams">
                    <div class="d-flex gap-2">
                      <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                      <p>NPA Anchors</p>
                    </div>
                    <div class="d-flex gap-2">
                      <img class="main_content_imgs" src="./images/ELWA-Utd-logo-128x128-removebg-preview.png"" alt="">
                      <p>Watanga FC</p>
                    </div>
                  </div>
                </div>
                <div class="contant me-2">
                  <i class="fa-regular fa-star fs-2"></i>
                </div>
              </a>
              </fieldset>
           </section>
        </main>
      </section>
    </div>
  </div>
  <%- include ("partials/footer.ejs") %>