<%- include("partials/header", { title: title }) %>
<div class="">
  <div class="selection_link">
    <!-- Dynamic links to each league by passing the league_id -->
    <a href="/"><button type="button" class="selection_btn">Football</button></a>
    <a href=""><button type="button" class="selection_btn">Basketball</button></a>
    <a href=""><button type="button" class="selection_btn">Kickball </button></a>
  </div>
  <section class="dashcontainer">
    <%- include ("partials/leagues_detail", {leaguedata: leaguedata}) %>
    <main class="main_display">
      <nav class="header_display">
        <div class="">
          <div class="qualification_group">
            <div class="qualification_link">
              <a href="/league_overview/<%= league.league_id %>" class="qualification">
                <% if (leaguedata.league_logo) { %>
                  <img src="data:image/png;base64,<%= leaguedata.league_logo.toString('base64') %>" alt="Home Team Logo" class="sidebar_imgs">
                <% } else { %>
                  <img src="./images/teams_flag/generic-logo-128x128.jpg" alt="" class="sidebar_imgs">
                <% } %>
                <div>
                  <h5 class="text_color"><%= league.league_name %></h5>
                  <p>Liberia</p>
                </div>
              </a>
            </div>
            <div class="qualification_link">
              <button type="button" onclick="select_favorite">
                <i class="fa-regular fa-star fs-2 text_color"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="" id="navbarCollapse">
          <div class="d-flex">
            <a href="/league_overview/<%= league.league_id %>" class="nav-item nav-link fs-4 fw-bold text-light">Overview</a>
            <a href="/league_matches/<%= league.league_id %>" class="nav-item nav-link fs-4 fw-bold text-light">Matches</a>
            <a href="/league_table/<%= league.league_id %>" class="nav-item nav-link fs-4 fw-bold text-light">Table</a>
          </div>
        </div>
      </nav>
      <section class="main_content-sec">
        <ul class="nav flex-column gap-2">
          <li class="nav-item">
            <a class="nav-item nav-link sidebar_headings text_color d-flex justify-content-between align-items-center" href="#">
              <span>FIXTURES</span>
              <i class="fa-solid fa-angle-right"></i>
            </a>
            <% matches.forEach(match => { %>
            <fieldset class="main_content d-flex justify-content-between align-items-center">
              <a href="#" class="main_content_link d-flex text_color justify-content-between align-items-center text-decoration-none">
                <div class="d-flex align-items-center gap-4 ms-2">
                  <div class="d-flex align-items-center flex-column">
                    <p><%= match.match_date %></p>
                    <p><%= match.status %></p>
                  </div>
                  <div class="main_content_teams">
                    <div class="d-flex gap-2">
                      <% if (match.home_team_logo) { %>
                        <img src="data:image/png;base64,<%= match.home_team_logo.toString('base64') %>" alt="Home Team Logo" class="sidebar_imgs">
                      <% } else { %>
                        <img src="./images/teams_flag/generic-logo-128x128.jpg" alt="Home Team Logo" class="sidebar_imgs">
                      <% } %>
                      <p><%= match.home_team_name %></p>
                    </div>
                    <div class="d-flex gap-2">
                      <% if (match.away_team_logo) { %>
                        <img src="data:image/png;base64,<%= match.away_team_logo.toString('base64') %>" alt="Away Team Logo" class="sidebar_imgs">
                      <% } else { %>
                        <img src="./images/teams_flag/generic-logo-128x128.jpg" alt="Away Team Logo" class="sidebar_imgs">
                      <% } %>
                      <p><%= match.away_team_name %></p>
                    </div>
                  </div>
                </div>
              </a>
              <div class="content me-2">
                <button type="button" onclick="select_favorite">
                  <i class="fa-regular fa-star fs-2 text_color"></i>
                </button>
              </div>
            </fieldset>
            <% }) %>

            <% countymatches.forEach(match => { %>
              <fieldset class="main_content">
                <a href="/<%= match.home_county_name %>vs/<%= match.away_county_name %>" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
                  <div class="d-flex align-items-center gap-4 ms-2">
                    <div class="d-flex align-items-center">
                      <p><%= match.match_status %></p>
                    </div>
                    <div class="main_content_teams">
                      <div class="d-flex gap-2">
                        <% if (match.home_county_logo) { %>
                          <img src="data:image/png;base64,<%= match.home_county_logo.toString('base64') %>" alt="Home Team Logo" class="sidebar_imgs">
                        <% } else { %>
                          <img src="./images/teams_flag/generic-logo-128x128.jpg" alt="" class="sidebar_imgs">
                        <% } %>
                        <p class="team-p"><%= match.home_county_name %></p>
                      </div>
                      <div class="d-flex gap-2">
                        <% if (match.away_county_logo) { %>
                          <img src="data:image/png;base64,<%= match.away_county_logo.toString('base64') %>" alt="Away Team Logo" class="sidebar_imgs">
                        <% } else { %>
                          <img src="./images/teams_flag/generic-logo-128x128.jpg" alt="" class="sidebar_imgs">
                        <% } %>
                        <p class="team-p"><%= match.away_county_name %></p>
                      </div>
                    </div>
                  </div>
                  <div class="contant me-2">
                    <i class="fa-regular fa-star fs-2"></i>
                  </div>
                </a>
              </fieldset>
            <% }) %>
            
          </li>
        </ul>
          </section>
         
         
          </main>
      </section>
    </main>
  </section>
</div>
<%- include("partials/footer.ejs") %>