<%- include ("partials/header", { title: title }) %>
      <%- include ("partials/selection.ejs") %>
        <section class="dashcontainer">
          <%- include ("partials/leagues_detail", {leaguedata: leaguedata}) %>
          <main class="main_display">
            <nav class="header_display">
              <div class="">
                <div class="qualification_group">
                  <div class="qualification_link">
                    <a href="/league_overview/<%= league.league_id %>" class="qualification">
                      <% if (leaguedata.league_logo) { %>
                        <img src="data:image/png;base64,<%= leaguedata.league_logo.toString('base64') %>" alt="Home Team Logo" class="sidebar_imgs">
                      <% } else { %>
                        <img src="./images/teams_flag/generic-logo-128x128.jpg" alt="" class="sidebar_imgs">
                      <% } %>
                      <div>
                        <h5 class="text_color"><%= league.league_name %></h5>
                        <p>Liberia</p>
                      </div>
                    </a>
                  </div>
                  <div class="qualification_link">
                    <button type="button" onclick="select_favorite">
                      <i class="fa-regular fa-star fs-2 text_color"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="" id="navbarCollapse">
                <div class="d-flex">
                  <a href="/league_overview/<%= league.league_id %>" class="nav-item nav-link fs-4 fw-bold text-light">Overview</a>
                  <a href="/league_matches/<%= league.league_id %>" class="nav-item nav-link fs-4 fw-bold text-light">Matches</a>
                  <a href="/league_table/<%= league.league_id %>" class="nav-item nav-link fs-4 fw-bold text-light">Table</a>
                </div>
              </div>
            </nav>
          <section class="main_content-sec">
            <ul class="nav flex-column gap-2">
              <li class="nav-item">
                  <a class="nav-item nav-link sidebar_headlings text_color d-flex justify-content-between align-items-center" href="#">
                    <span>FIXTURES</span>
                      <i class="fa-solid fa-angle-right"></i>
                  </a>
                  
                    <% matchdata.forEach(match => { %>
                      <fieldset class="main_content justify-content-between align-items-center">
                        <a href="#" class="main_content_link d-flex text_color justify-content-between align-items-center text-decoration-none">
                          <div class="d-flex align-items-center gap-4 ms-2">
                            <div class="d-flex align-items-center flex-column">
                              <p><%= match.match_date %></p>
                              <p><%= match.status %></p>
                            </div>
                            <div class="main_content_teams">
                              <div class="d-flex gap-2">
                                <% if (match.home_team_logo) { %>
                                  <img class="sidebar_imgs" src="data:image/png;base64,<%= match.home_team_logo.toString('base64') %>" alt="Home team logo">
                                <% } else { %>
                                  <img src="../images/teams_flag/generic-logo-128x128.jpg" alt="" class="sidebar_imgs">
                                <% } %>
                                <p><%= match.home_team_name %></p>
                              </div>
                              <div class="d-flex gap-2">
                                <% if (match.away_team_logo) { %>
                                  <img class="sidebar_imgs" src="data:image/png;base64,<%= match.away_team_logo.toString('base64') %>" alt="Home team logo">
                                <% } else { %>
                                  <img src="../images/teams_flag/generic-logo-128x128.jpg" alt="" class="sidebar_imgs">
                                <% } %>
                                <p><%= match.away_team_name %></p>
                              </div>
                            </div>
                          </div>
                          <div class="contant me-2">
                            <button type="button" onclick="selsect_favorite">
                              <i class="fa-regular fa-star fs-2 text_color"></i>
                            </button>
                          </div>
                        </a>
                      </fieldset>
                    <% }) %>                    
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link sidebar_headlings text_color d-flex justify-content-between align-items-center" href="#">
              <span>Results</span>
                <i class="fa-solid fa-angle-right"></i>
            </a>
            <% matchdata.forEach(match => { %>
              <fieldset class="main_content justify-content-between align-items-center">
                <a href="#" class="main_content_link d-flex text_color justify-content-between align-items-center text-decoration-none">
                  <div class="d-flex align-items-center gap-4 ms-2">
                    <div class="d-flex align-items-center flex-column">
                      <p><%= match.match_date %></p>
                      <p><%= match.match_time %></p>
                    </div>
                    <div class="main_content_teams">
                      <div class="d-flex gap-2">
                        <% if (match.home_team_logo) { %>
                          <img class="sidebar_imgs" src="data:image/png;base64,<%= match.home_team_logo.toString('base64') %>" alt="Home team logo">
                        <% } else { %>
                          <img src="../images/teams_flag/generic-logo-128x128.jpg" alt="" class="sidebar_imgs">
                        <% } %>
                        <p><%= match.home_team_name %></p>
                      </div>
                      <div class="d-flex gap-2">
                        <% if (match.away_team_logo) { %>
                          <img class="sidebar_imgs" src="data:image/png;base64,<%= match.away_team_logo.toString('base64') %>" alt="Home team logo">
                        <% } else { %>
                          <img src="../images/teams_flag/generic-logo-128x128.jpg" alt="" class="sidebar_imgs">
                        <% } %>
                        <p><%= match.away_team_name %></p>
                      </div>
                    </div>
                  </div>
                  <div class="contant me-2 d-flex align-items-center justify-content-between">
                    <div class="contant me-2 d-flex flex-column gap-2">
                      <p class="fs-5 fw-2"><%= match.home_team_score %></p>
                      <p class="fs-5 fw-2"><%= match.away_team_score %></p>
                    </div>
                    <button type="button" onclick="selsect_favorite">
                      <i class="fa-regular fa-star fs-2 text_color"></i>
                    </button>
                  </div>
                </a>
              </fieldset>
            <% }) %>
        </li>
        <li>
          <% countymatches.forEach(match => { %>
            <fieldset class="main_content">
              <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
                <div class="d-flex align-items-center gap-4 ms-2">
                  <div class="d-flex align-items-center">
                    <p><%= match.home_county_name %> vs <%= match.away_county_name %></p>
                  </div>
                  <div class="main_content_teams">
                    <div class="d-flex gap-2">
                      <% if (match.home_county_logo) { %>
                        <img class="main_content_imgs" src="data:image/png;base64,<%= match.home_county_logo.toString('base64') %>" alt="Home team logo">
                      <% } else { %>
                        <img src="../images/teams_flag/generic-logo-128x128.jpg" alt="" class="sidebar_imgs">
                      <% } %>
                      <p><%= match.home_county_name %></p>
                    </div>
                    <div class="d-flex gap-2">
                      <% if (match.away_county_logo) { %>
                        <img class="main_content_imgs" src="data:image/png;base64,<%= match.away_county_logo.toString('base64') %>" alt="Home team logo">
                      <% } else { %>
                        <img src="../images/teams_flag/generic-logo-128x128.jpg" alt="" class="sidebar_imgs">
                      <% } %>
                      <p><%= match.away_county_name %></p>
                    </div>
                  </div>
                </div>
                <div class="contant me-2">
                  <p>Score: <%= match.home_county_score %> - <%= match.away_county_score %></p>
                  <i class="fa-regular fa-star fs-2"></i>
                </div>
              </a>
            </fieldset>
            <% }) %>
        </li>
        </ul>
          </section>
          </main>
      </section>
    </div>
  </div>
  <%- include ("partials/footer.ejs") %>