<%- include ("partials/header.ejs") %>
    <div class="">
      <div class="selection_link">
        <a href="#"><button type="button" class="selection_btn">FootBall</button></a>
        <a href="#"><button type="button" class="selection_btn">Basketball</button></a>
        <a href="#"><button type="button" class="selection_btn">KickBall</button></a>
      </div>
      <section class="dashcontainer">
        <%- include('partials/sidebar', { teamdata: teamdata, leaguedata: leaguedata, countydata: countydata }) %>
          <main class="main_display">

                <nav class="qualification_main_nav">
                    <div class="qualificationmain_nav_lc">
                      <div class="qualification_link">
                        <% if (matches && matches.length > 0) { %>
                        <a href="" class="qualification">
                          <img src="data:image/png;base64,<%= matches.home_team_logo.toString('base64') %>" alt="<%= matches.home_team_name %> logo" class="sidebar_imgs">
                          <div class="qualification_heading">
                            <h5 class="text-light"><%= matches.home_team_name %></h5>
                            <p>Liberia</p>
                          </div>
                        </a>
                        <% } else { %>
                          <p class="d-flex justify-content-center pt-1">No match data available for this team  </p>
                        <% } %>
                      </div>
                      <div class="qualification-action-btn">
                        <a href="/team/<%= teamdata.team_id %>" data-title="<%= teamdata.team_name %>/Overview"><button type="button" class="qualification-btn">Overview</button></a>
                        <a href="/team_matches/<%= teamdata.team_id %>" data-title="<%= teamdata.team_name %>/Matches"><button type="button" class="qualification-btn">Matches</button></a>
                        <a href="/team_table/<%= teamdata.team_id %>" data-title="<%= teamdata.team_name %>/Table"><button type="button" class="qualification-btn">Table</button></a>
                        <a href="/player_stats_all/<%= teamdata.team_id %>" data-title="<%= teamdata.team_name %> Player Stats"><button type="button" class="qualification-btn">Play-Stats</button></a>
                      </div>
                    </div>
                </nav>
               
                    <div class="select_matches_btn">
                        <a href="/fixture"><button type="button" class="select_btn">FIXTURES</button></a>
                        <a href="#"><button type="button" class="select_btn">RESULTS</button></a>
                    </div>

                
              <section class="main_content-sec">
               <h3>Fixtures</h3>
            <% if (teamFullData && teamFullData.length > 0) { %>
              <% teamFullData.forEach(match => { %>
              <fieldset class="main_content">
                <a href="#" class="main_content_link d-flex justify-content-between align-items-center text-decoration-none">
                <div class="d-flex lign-items-center gap-4 ms-2">
                  <div class="d-flex align-items-center">
                    <p><%= match.match_date %></p>
                  </div>
                  <div class="main_content_teams">
                    <div class="d-flex gap-2">
                      <img class="main_content_imgs" src="<%= match.home_team_logo %>" alt="<%= match.home_team_name %>">
                      <h5><%= match.home_team_name %></h5>
                    </div>
                    <div class="d-flex gap-2">
                      <img class="main_content_imgs" src="<%= match.away_team_logo %>" alt="<%= match.away_team_name %>">
                      <h5><%= match.home_away_name %></h5>
                    </div>
                  </div>
                </div>
                <div class="contant me-2">
                  <i class="fa-regular fa-star fs-2"></i>
                </div>
              </a>
                  </fieldset>
                  <% }); %>
                </ul>
              <% } else { %>
                <p>No matches found.</p>
              <% } %>

           </section>
        </main>
      </section>
    </div>
  </div>
  <%- include ("partials/footer.ejs") %>